
#container{
    width: 70%;
    margin: auto;
    height:auto;
    border: 2px solid white;
    text-align: center;
    background-color: rgb(53, 44, 44);
    border-radius: 20px;
   
}
.head{
    font-size: 30px;
    font-weight: bolder;
    color:rgb(250, 244, 244);
    
}
*{
    background-color: rgb(53, 44, 44);
}
.input input{
    width: 95%;
    height: 90px;
    background-color: rgb(78, 110, 78);
    border: 3px solid black;
    font-weight: bolder;
    font-size: 50px;
    border-radius: 10px;

}
#btn{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;

}
#btn button{
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: bolder;
    width: 15%;
    height:50px;
    box-shadow: 2px 2px 5px rgb(245, 243, 243);
    border-radius: 10px;
}

#btn #yellow{
    background-color: rgb(190, 190, 70);
}
#btn #green{
    background-color: rgb(97, 209, 97);
}#btn #red{
    background-color: rgb(141, 41, 41);
}
@media  (min-width:1200px) {
    #container{
        width: 30%;
        margin: auto;
        height:auto; 
    }
}

